---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Florian Clanet's Blog";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img
      width="300"
      height="259"
      alt="RaccoonSpaceGif"
      src={`${import.meta.env.BASE_URL}/space.webp`}
    />
  </div>
  <h1>Florian Clanet</h1>
  <span class="badge">Prototype Architect (Cloud and AIML Enthusiast)</span>
  <h2>About</h2>
  <p>
    Hello there! I'm Florian, currently working as a Prototype Architect at AWS
    with a passion for Cloud technology, machine learning, DevOps and security."
    In the clouds, I'm like a digital architect, constructing beautiful and
    efficient solutions using platforms like AWS. I have a knack for automation
    - if there's a process that can be streamlined, you can bet I'm already
    working on it!
  </p>
  <p>
    My journey in tech is an ever-evolving adventure. I'm constantly learning,
    exploring new topics, and pushing the boundaries of what's possible.
    Recently, I've been diving deep into the world of Machine Learning, adding
    another exciting dimension to my skill set.
  </p>
  <div class="center">
    <a href={`${import.meta.env.BASE_URL}/works/`}>
      <button class="btn">My portfolio</button>
    </a>
  </div>
  <h2>Skills</h2>
  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="AWS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Python"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="React"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Angular"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    Curiosity is my driving force. I'm always eager to learn, grow, and share my
    knowledge with others. Whether it's the latest in cloud technology, a new
    automation technique, or an interesting application of AI, I'm ready to dive
    in and then spread the word. Welcome to my digital home. Feel free to
    explore, learn, and connect. Let's embark on this technological journey
    together!
  </p>
</Layout>
